/* MadCap Table Style: */

/*<meta Version="9" />*/

@media pdf1pg
{
	mcTableStyle
	{
		cell-padding-left: 1px;
		cell-padding-right: 1px;
		cell-padding-top: 1px;
		cell-padding-bottom: 1px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-left: 3pt;
	cell-padding-right: 3pt;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 100;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Normal;
	id: 1;
	vertical-align: top;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: NoBottomBorder;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media pdf1pg
{
	.TableStyle-Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic-HeadI-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadE-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadF-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadH-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadD-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadC-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadB-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadA-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-HeadG-Column1-Header1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootI-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootE-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootF-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootH-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootD-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootC-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootB-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootA-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-FootG-Column1-Footer1
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyI-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyE-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyF-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyH-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyD-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyC-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyB-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyA-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyG-Column1-Normal
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyI-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyE-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyF-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyH-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyD-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyC-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyB-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyA-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.TableStyle-Basic-BodyG-Column1-NoBottomBorder
	{
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}

.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-Column-Column1
{
	
}

.TableStyle-Basic-Head-Header1
{
	
}

.TableStyle-Basic-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Basic-Foot-Footer1
{
	
}

.TableStyle-Basic-FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basic-Body-Normal
{
	
}

.TableStyle-Basic-BodyI-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyI-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyE-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyF-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyF-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyH-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyD-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyD-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyC-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
}

.TableStyle-Basic-BodyC-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyB-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyA-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
}

.TableStyle-Basic-BodyA-Column1-Normal p
{
	
}

.TableStyle-Basic-BodyG-Column1-Normal
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyG-Column1-Normal p
{
	
}

.TableStyle-Basic-Body-NoBottomBorder
{
	
}

.TableStyle-Basic-BodyI-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-BodyI-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyE-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyF-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-BodyF-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyH-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyD-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-BodyD-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyC-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-BodyC-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyB-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyA-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-BodyA-Column1-NoBottomBorder p
{
	
}

.TableStyle-Basic-BodyG-Column1-NoBottomBorder
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Basic-BodyG-Column1-NoBottomBorder p
{
	
}


