/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		cell-content-style-class: TableText;
		cell-content-style-tag: p;
	}

	mcTableHeadStyle
	{
		background-color: #add8e6;
	}

	mcTableBodyStyle
	{
		ruler-style: solid;
		ruler-width: 1px;
	}
}

@media web
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		cell-content-style-class: TableText;
		cell-content-style-tag: p;
	}

	mcTableHeadStyle
	{
		background-color: #add8e6;
	}

	mcTableBodyStyle
	{
		ruler-style: solid;
		ruler-width: 1px;
	}
}

mcTableStyle
{
	name: Menu_Description;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 6;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	margin-top: 6px;
	margin-bottom: 6px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 4cm;
	text-align: left;
	vertical-align: top;
	cell-content-style-class: TableText;
	cell-content-style-tag: p;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: TableHeadingLeft;
}

mcTableBodyStyle
{
	span: 5;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	type: Automatic;
	cell-content-style-tag: p;
	cell-content-style-class: TableText;
	text-align: left;
	vertical-align: middle;
	ruler-style: solid;
	ruler-width: 1px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Menu_Description
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Menu_Description-HeadI-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadE-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadF-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadH-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadD-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadC-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadB-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadA-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadG-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-BodyI-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.TableStyle-Menu_Description-BodyH-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.TableStyle-Menu_Description-BodyG-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
}

@media web
{
	.TableStyle-Menu_Description
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Menu_Description-HeadI-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadE-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadF-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadH-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadD-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadC-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadB-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadA-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-HeadG-Column1-Header1
	{
		background-color: #add8e6;
	}

	.TableStyle-Menu_Description-BodyI-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.TableStyle-Menu_Description-BodyH-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.TableStyle-Menu_Description-BodyG-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
}

.TableStyle-Menu_Description
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
	border-spacing: 0px 0px;
}

.TableStyle-Menu_Description-Column-Column1
{
	width: 4cm;
}

.TableStyle-Menu_Description-Head-Header1
{
	
}

.TableStyle-Menu_Description-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Menu_Description-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Menu_Description-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Menu_Description-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Menu_Description-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Menu_Description-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Menu_Description-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Menu_Description-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Menu_Description-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Menu_Description-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Menu_Description-FootI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-FootI-Column1- p
{
	
}

.TableStyle-Menu_Description-FootE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Menu_Description-FootE-Column1- p
{
	
}

.TableStyle-Menu_Description-FootF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-FootF-Column1- p
{
	
}

.TableStyle-Menu_Description-FootH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Menu_Description-FootH-Column1- p
{
	
}

.TableStyle-Menu_Description-FootD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-FootD-Column1- p
{
	
}

.TableStyle-Menu_Description-FootC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-FootC-Column1- p
{
	
}

.TableStyle-Menu_Description-FootB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Menu_Description-FootB-Column1- p
{
	
}

.TableStyle-Menu_Description-FootA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-FootA-Column1- p
{
	
}

.TableStyle-Menu_Description-FootG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-FootG-Column1- p
{
	
}

.TableStyle-Menu_Description-Body-Body1
{
	
}

.TableStyle-Menu_Description-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Menu_Description-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Menu_Description-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Menu_Description-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Menu_Description-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Menu_Description-BodyG-Column1-Body1 p
{
	
}


